body {
  margin: 0px;
  text-align: center;
  background: hsl(184, 64%, 43%);
  font-family: 'Kumbh Sans', sans-serif;
}




/* profile picture and name styling */

#profile-card {
  text-align: center;
  margin: 120px auto;
  width: 300px;
  border-radius: 20px;
  border: hidden;
  background: white;
  
}

.card-bg {
  text-align: center;
  display: block;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.profile-picture {
  border-radius: 50%;
  margin-top: -50px;
  border: 5px solid white;
}




/* body background images and styling */

.bg-top {
  position: fixed;
  top: -500Px;
  left: -400px;
  z-index: -1;
}

.bg-bottom {
  position: fixed;
  bottom: -700Px;
  right: -300px;
  z-index: -1;
}




/* Statistic styling */

.stats {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.stats-count {
  text-align: center;
  margin: auto;
  margin-bottom: 2px;
}

.city, .age, .stats-label, hr {
  color: rgb(182, 174, 174);
}


.stats-label {
  font-size: 10px;
  margin-top: 0px;
}

.city {
  padding-top: 0px;
}
.age {
  margin-left: 5px;
}

h4 {
  padding-bottom: 0px;
  line-height: 0px;
}



/* attribution styling */

.attribution { font-size: 11px; text-align: center; 
  padding-bottom: 0px;  
}
.attribution a { color: hsl(228, 45%, 44%); }